* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    behavior: scroll;
}

.card-body {
    text-align: center;
}

#shine {
    font-size: 5vmin;
}

#shined {
    font-size: 4vmin;
}


/*.carousel-item {
    height: 90vh;
} */

#cim {
    height: 250px;
    width: 100%;
}

#fr {
    font-size: medium;
    font-weight: bold;
}

#hist {
    margin-top: 90px;
    margin-bottom: 20px;
    font-weight: 500;
}

#wef {
    width: 40vw;
}

#wefg {
    width: 43vw;
}

#wefgh {
    width: 38vw;
}

@media (max-height:850px) and (max-width:850px) {
    p {
        font-size: 9vmin;
        color: black;
    }
    h5 {
        font-size: 5vmin;
        color: black;
    }
    body,
    html {
        overflow: hidden;
    }
}